<p>job-filter works!</p>
<div>
  <form novalidate (ngSubmit)="onSubmit(jobFilter)" [formGroup]="jobFilter">
    <!-- <mat-form-field appearance="outline">
      <mat-label>Sample Serial Number: </mat-label>
      <input
        matInput 
        type="text" 
        formControlName="sn"
        [matAutocomplete]="auto"/>
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{ option }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field> -->
    Sample Serial Number: <input type="text" formControlName="sn">
    Measurement Date: <input type="text" formControlName="date">
    Hashtag: <input type="text" formControlName="htag">
    <button type="submit" [disabled]="jobFilter.invalid">Search</button>

  </form>

  <!-- <ng-container *ngIf="jobHeaders; else loading"> -->
  <ul>
    <li *ngFor="let jobHeader of jobHeaders">
      <a routerLink="/job/{{jobHeader.id}}">
        {{jobHeader.id}}
      </a>
    </li>
  </ul>
  <!-- </ng-container> -->
</div>