<!-- <select #poltType (change)="onSelected(poltType.value)"  >
    <option *ngFor="let val of get_values(pOptions)" [value]="val"> {{pLabels[val]}} </option>
</select>
<ng-container *ngIf="pReq_F1">
    <div [formGroup]="plotReqF1Form">
        <label for="x">X: </label>
        <input id="x" type="text" formControlName="x">
      
        <label for="y">Y: </label>
        <input id="y" type="text" formControlName="y">
      
        <label for="other_position">Other Position: </label>
        <input id="other_position" type="text" formControlName="other_position">

        <button type="submit" (click)="this.preview1Dfunction()" [disabled]="!plotReqF1Form.valid">Plot</button>
    </div>
</ng-container>
<ng-container *ngIf="pReq_PE">
    <div [formGroup]="plotReqPEForm">
        <label for="x">X: </label>
        <input id="x" type="text" formControlName="x">
      
        <label for="y">Y: </label>
        <input id="y" type="text" formControlName="y">

        <label for="parameter">Parameter: </label>
        <input id="parameter" type="text" formControlName="parameter">   

        <label for="other_position">Other Position: </label>
        <input id="other_position" type="text" formControlName="other_position">

        <button type="submit" (click)="this.previewParEq()" [disabled]="!plotReqPEForm.valid">Plot</button>
    </div>
</ng-container>
<ng-container *ngIf="pReq_F2">
    <div [formGroup]="plotReqP2Form">
        <label for="x">X: </label>
        <input id="x" type="text" formControlName="x">
      
        <label for="y">Y: </label>
        <input id="y" type="text" formControlName="y">

        <label for="z">Z: </label>
        <input id="z" type="text" formControlName="z">   

        <label for="other_position">Other Position: </label>
        <input id="other_position" type="text" formControlName="other_position">

        <button type="submit" (click)="this.previewContour()" [disabled]="!plotReqP2Form.valid">Plot</button>
    </div>
</ng-container> -->


<div [formGroup]="req_form">
    <label for="CMDs">CMD: </label>
    <input id="CMDs" type="text" formControlName="CMDs">   
    <button type="submit" (click)="this.plotCMDfunction()">CMD Plot</button>
</div>

<ng-container *ngIf="show_plot">
<plotly-plot [data]="graph.data"></plotly-plot>
</ng-container>