<div *ngIf="job_header">
<div>
    <h2>Job Details</h2>
    <div>
      <p>ID: {{job_header.id}}</p>
      <p>Comment: {{job_header.comment}}</p>
      <p>Config settings:</p>
      <p *ngFor="let item of job_header.configs | keyvalue">           
        Name: {{item.key}}, Value: {{item.value}}
      </p>
      <p>Axes:</p>
      <p *ngFor="let x of job_header.axes ">           
        Name: {{x[0]}}, points: {{x[1]}}
      </p>
      <p>Data:</p>
      <p *ngFor="let x of job_header.data_labels ">           
        Name: {{x}}
      </p>
    </div>
  <button type="button" 
  (click)="this.download_rawdata()">Download Raw data</button>  
  <!-- <ng-container *ngIf="show_plot_1D">
    <plotly-plot [data]="graph.data"></plotly-plot>
  </ng-container> -->
  <app-preprocess-request-form (preProcessCMDs)="get_preProcessCMDs($event)">
  </app-preprocess-request-form> 

  <button type="button" 
  (click)="this.previewData()">Preview data</button>

  <ng-container *ngIf="show_pReq_form">
    <app-plot-request-form 
    [preProcess_CMDs]="this.preProcess_CMDs">
    </app-plot-request-form>
  </ng-container>


</div>